<p class="HEADER" fxFlexAlign="center">CAREERS</p>

<div class="search" fxFlexAlign="center">
    <input type="text" placeholder="" class="int">
</div>

<mat-grid-list cols="3">
    <mat-grid-tile style="margin-right: 10px;">
        <div style="border: gray 2px solid; padding: 35px;">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" class="image1" style="background-color: #C4C4C4;">
                <div class="card-body">
                  <h5 class="card-title">TITLE</h5>
                  <p class="card-text">
                    iOS App Development,Android App Development,Web App Development, UI/UX Design, Chatbots
                    </p>
                </div>
              </div>
           </div>
    </mat-grid-tile>
    <mat-grid-tile class="lay1">
        <div style="border: gray 2px solid; padding: 35px;">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" class="image1" style="background-color: #C4C4C4;">
                <div class="card-body">
                  <h5 class="card-title">TITLE</h5>
                  <p class="card-text">
                    iOS App Development,Android App Development,Web App Development, UI/UX Design, Chatbots
                    </p>
                </div>
              </div>
           </div>
    </mat-grid-tile>
    <mat-grid-tile class="lay1">
       <div style="border: gray 2px solid; padding: 35px;">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" class="image1" style="background-color: #C4C4C4;">
            <div class="card-body">
              <h5 class="card-title">TITLE</h5>
              <p class="card-text">
                iOS App Development,Android App Development,Web App Development, UI/UX Design, Chatbots
                </p>
            </div>
          </div>
       </div>
    </mat-grid-tile>
    </mat-grid-list>
   