
<div class="layout">
    <div class="lay"> 
 
      <div>
          <img mat-card-image src="assets\LOGO.png" class="logo1" >
      </div>
      
      <nav class="nav">
        <button mat-raised-button>HOME</button>
        <button mat-button>ABOUT US</button>
        <button mat-button routerLink='product'>PRODUCT</button>
        <button mat-button routerLink='careers'>CAREERS</button>
        <button mat-button>CONTACT US</button>
      </nav>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu" aria-label="Example icon-button with a menu">
         <mat-icon>menu</mat-icon>
       </button>
       <mat-menu #menu="matMenu">
         <button mat-button>HOME</button>
         <button mat-button>ABOUT US</button>
         <button mat-button routerLink='product'>PRODUCT</button>
         <button mat-button routerLink='careers'>CAREERS</button>
         <button mat-button>CONTACT US</button>
       </mat-menu>
    </div>
</div>
<router-outlet></router-outlet>