<p class="HEADER">PRODUCT</p>
<mat-grid-list cols="2" >
    <mat-grid-tile class="child">
        <div class="child-1">
        
        <div class="head">
        SHAPEMEUP
        </div>
        Fitness has become paramount important more than ever during the last 18 months especially with the onset of pandemic. With people being locked down in home and with less travelling and more remote working, it has become very difficult to maintain physical health. At the sametime, physical and mental health has become very important to keep our defences strong against the pandemic. 
        With so many people realizing the importance of maintaining fitness and yet stuck at home with no access to fitness facilities, we at Honeycomb Technologies have come up with an application which solves the problem. We have created an unique application which enables anyone across the world to access the fitness coach of their choice, fitness program and diet program under the single umbrella.
        </div>
        
    </mat-grid-tile>
    <mat-grid-tile style="margin-top: -100px;">
        
        <div class="Phone">
            <img mat-card-image src="assets\PHONE.jpeg">
        </div>
        
    </mat-grid-tile>
</mat-grid-list>

<div class="visit">
    VISIT AT:
</div>