.spinner {
    color: deeppink;
    margin-left: 50px;
    text-align: center;
    font-size: xx-large;
    float: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.nav {
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 7%;
    margin-left: 41%;
    padding-bottom: 2%;

}
.lay {
    display: flex;
    justify-content: space-between;
}
.layout {
    color: rgb(255, 255, 255);
    background-color: #241F25;
    width: 100%;
    
}
.menu {
    display: none;
    
}
.logo1{
  display: flex;
  margin-left: 15%;
}
.icon {
    background: none;
    border: none;
    color: white;
}
.menu.active {
    display:block;
}

@media all and (min-width: 1024px){
    .menu{
       visibility: hidden;
       display: none;
    }
    
}
@media (max-width: 1023px){
    .menu{
        visibility: visible;
        display: block;
    }
    nav{
       visibility: hidden;
       display: none;
    }
    .logo1 {
        width: 180%;
    }
    .layout {
        padding: 20px;
    }
}